

.header {
	position: relative;
	float: left;
	width: 100%;/*
	min-height: 200px;
	background-color: red;*/
}
.img_header {
	position: relative;
	float: left;
	width: 100%;
}
.video-header {
	width: 100%;
	border-width: 0px;
}

.nav_menu {
	position: absolute;
	width: 100%;
}
.menu {

}
.menu > a{
	position: relative;
	font-size: 20px;
	padding: 2% 4%;
	background-color: beige;
	text-decoration: none;
}
.menu > a:hover {
	font-weight: bold;
	background-color: #CCCCB7;
}